@tailwind base;
@tailwind components;
@tailwind utilities;

a.active{
    background-color: #bfdbfe;
}

.correct{
  color: white ;
  background: #16a34a ;
  border: 1px solid #16a34a ;
}

.wrong{
  color: white ;
  background: #e3342f ;
  border: 1px solid #e3342f ; 
}
  